@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.App {
  text-align: center;
  background: url("images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.App-logo {
   font-size: 1.5rem;
}

.App-header {
  
  font-size: calc(10px + 2vmin);
}

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
  color: white;
  font-size: 1.5rem;
}
.Button button {
  margin: 2rem;
  padding: 0.8rem 3rem;
  border-radius: 22px;
  letter-spacing: 0.5px;
  font-size: 30px;
  color: #735ebb;
  background-color: white;
}

.App p {
  color: white;
  font-weight: 400;
  font-size: 27px;
}
.p-giris{
  display:flex;
  padding-top: 200px;
}
.App p .giris-link{
  text-decoration: none;
  color: white;
  font-weight: 600;

}
/* kayit ol*/



/*Giriş Yap */
.container-giris-yap{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.header-giris-yap{
  color: #8D75E0;
  font-size: 39px;
  font-weight: 700;
  padding-top: 7rem;
}
.form-giris{
  padding-top: 3rem;
  padding-bottom: 1rem;
}
form input {
  height: 44px;
  width: 343px;
  margin: 1rem;
  font-size: 15px;
  border-radius: 12px;
  border: 2px solid #735ebb;
  background: rgba(68, 166, 180, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}
.form-title{
    display: block;
    font-weight: 700;
    font-size: 27px;
    line-height: 35px;   
    margin: 1rem;
}
.container-giris-yap a {
  text-decoration: none;
  color: #173627;
  padding-bottom: 2rem;
}
.container-giris-yap .btn-giris-yap{
  background: #735EBB;
  margin-top: 2.5rem;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
border-radius: 22px;
width: 240px;
height: 44px;
color: white;
font-weight: 700;
font-size: 16px;

}
